.contact-filter {
    // margin: 10px;
    color: white;
    padding: 5px;
    input {
       border-radius: 15px;
       padding: 6px;
       width: 300px;
       text-align: center;
       background-color: rgb(212, 210, 223);
     
    }
 }