.conact-preview {
    border: 1px solid black;
    border-radius: 20px;
    // background-color: $bgc2;
    // width: 500px;
    background-color: gray;
     width: 100%;
     color: white;
     // padding: 10px;
     margin: 3px;

     p {
         margin-left:30px;
     }
 }
 
 .contact-img{
     width: 50px;
     margin-left: 50px;
     margin-right: 20px;
 }
 