* {
    box-sizing: border-box;
}

html {
   
}

body {
    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}


h1 {
    
}

ul {
    list-style: none;
    padding: 0;
}
.img-upload {
    height: 0;
    width: 0;
}

button {
    cursor: pointer;
}

.contianer {
    border-radius: 8px;
}


a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
  }
  
